mixin main(color, mode, side)
  doctype html
  main(class=`${color} ${mode} ${side}`)
    block
  include _radical
mixin title(name, index='')
  h1(class=`${name}`)= `{{${index}${name}}}`
mixin heading(name, index='')
  h1.kanji= `{{${index}${name}}}`
mixin hint(name, index='')
  = `\n{{#${index}${name}}}`
  div(class=`${name}`)= `{{hint:${index}${name}}}`
  = `\n{{/${index}${name}}}`
mixin field(name, index='')
  = `\n{{#${index}${name}}}`
  div(class=`${name}`)= `{{${index}${name}}}`
  = `\n{{/${index}${name}}}`
mixin fields(...names)
  each name in names
    +field(name)
mixin kanjikana(grammar)
  | {{#kanji}}
  h2!= grammar[0]
    include _audio
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
    include _audio
  | {{/kanji}}
mixin listening(index)
  = `\n{{#${index}listening}}`
  h2 聞く 対義語
  = `\n{{/${index}listening}}`
  = `\n{{^${index}listening}}`
  h2 言う 対義語
  = `\n{{/${index}listening}}`
