mixin main(...classes)
  doctype html
  .card-wrapper
    .front-content
        main(class=`${classes.join(' ')}`)
          block
        include _scripts
mixin title(name, index='')
  h1(class=`${name}`)= `{{${index}${name}}}`
mixin heading(name, index='', symbols='')
  h1(class=`kanji`)
    span= `{{${index}${name}}}`
    span(class='type')= `${symbols.length === 2 ? ' ' + symbols[index-1] : ''}`
mixin heading_presuffix(title, prefix, suffix)
  h2
    if prefix.length > 0
      span(class='prefix')= prefix
    span= title
    span(class='suffix')= suffix
mixin hint(name, index='')
  +optional(`#${index}${name}`)
    div(class=`${name}`)= `{{hint:${index}${name}}}`
mixin text()
  div(class=`text {{Tags}}`)
    block
mixin field(name, index='', symbols='')
  +optional(`#${index}${name}`)
    div(class=`${name}`)= `{{${index}${name}}}${symbols.length === 2 ? ' ' + symbols[index-1] : ''}`
mixin span(name, index='')
  +optional(`#${index}${name}`)
    span(class=`${name}`)= `{{${index}${name}}}`
mixin cloze(name, index='')
  +optional(`#${index}${name}`)
    div(class=`${name}`)= `{{cloze:${index}${name}}}`
mixin fields(...names)
  each name in names
    +field(name)
mixin spans(index, ...names)
  div
    each name in names
      +span(name, index)
mixin subheader(title, suffix='')
  h2= title
    if suffix.length > 0
      span(class='suffix')= suffix
    block
mixin kanjikana(grammar, suffix='')
  +optional('#kanji')
    +subheader(grammar[0], suffix)
  +optional('^kanji')
    +subheader(grammar[1] || grammar[0], suffix)
mixin listening(index)
  +optional(`#${index}listening`)
    +heading_presuffix(grammar, '', '聞く')
  +optional(`^${index}listening`)
    +heading_presuffix(grammar, '', '言う')
mixin optional(field)
  = `\n{{${field}}}`
  block
  = `\n{{/${field.substring(1)}}}`
mixin audio
  .audio
    +span('speech')
    +span('context')
