mixin main(color, mode, side)
  doctype html
  main(class=`${color} ${mode} ${side}`)
    block
  include _scripts
mixin title(name, index='')
  h1(class=`${name}`)= `{{${index}${name}}}`
mixin heading(name, index='')
  h1(class=`kanji`)= `{{${index}${name}}}`
mixin hint(name, index='')
  +optional(`#${index}${name}`)
    div(class=`${name}`)= `{{hint:${index}${name}}}`
mixin text()
  div(class=`text {{Tags}}`)
    block
mixin field(name, index='')
  +optional(`#${index}${name}`)
    div(class=`${name}`)= `{{${index}${name}}}`
mixin span(name, index='')
  +optional(`#${index}${name}`)
    span(class=`${name}`)= `{{${index}${name}}}`
mixin cloze(name, index='')
  +optional(`#${index}${name}`)
    div(class=`${name}`)= `{{cloze:${index}${name}}}`
mixin fields(...names)
  each name in names
    +field(name)
mixin spans(index, ...names)
  div
    each name in names
      +span(name, index)
mixin audioheader(title)
  +subheader(title)
    span.speech {{speech}} {{context}}
mixin subheader(title)
  h2= title
    block
mixin kanjikana(grammar)
  +optional('#kanji')
    +audioheader(grammar[0])
  +optional('^kanji')
    +audioheader(grammar[1] || grammar[0])
mixin listening(index)
  +optional(`#${index}listening`)
    h2= grammar
      span 聞く
  +optional(`^${index}listening`)
    h2= grammar
      span 言う
mixin optional(field)
  = `\n{{${field}}}`
  block
  = `\n{{/${field.substring(1)}}}`
