script.
  Array.from(document.getElementsByClassName("cloze")).forEach(tag => {
    tag.onclick = function () {
      tag.style.color = '#268bd2'
    }
  })

  function replaceText(query, regex, replacement) {
    Array.from(document.querySelectorAll(query)).forEach(tag => {
      tag.innerHTML = tag.innerHTML.replaceAll(regex, replacement)
    })
  }
  
  setTimeout(function () {
    const LATIN = "\\u0000-\\u007F"; // basic latin
    const RADICALS = "\\u2E80-\\u2FDF"; // cjk and kangxi radicals
    const KANJI = "\\u4E00-\\u9FFF"; // cjk unified ideographs
    const KANA = "\\u3000-\\u30FF"; // punctuation, hiragana and katakana
    const FULL_HALF = "\\uFF00-\\uFFEF"; // (full-half)
    const KANJA = `${RADICALS}${KANJI}${KANA}${FULL_HALF}`;
    const WS = "(?:\\s|&nbsp;)+";
    const SYMBOLS = "◈◇◆▣□■△⨹⧊▲⨀⏜▬⧨⨺";

    // highlight kanji after bold words
    const terms = new RegExp(`(<b>[${LATIN}]+</b>)${WS}([${KANJA}]+)`, 'gi')
    replaceText(".notes", terms, "<b>$1</b>&nbsp;<span class='part'>$2</span>")
    // highlight kanji in details
    const kanja = new RegExp(`([${KANJI}${KANA}]+)`, 'gi')
    replaceText(".details", kanja, "<em>$1</em>")
    // wrap trailing kana and symbols in meaning
    const kana = new RegExp(`\\s+(<.+?>)?([${KANA}${SYMBOLS}]+)(</.+?>)?$`, 'gi')
    replaceText(".meaning", kana, "&nbsp;$1<span class='type'>$2</span>$3")

    const elementToMove = document.querySelector('.audio');
    const targetContainer = document.querySelector('main.back');
    if (elementToMove && targetContainer) {
      targetContainer.appendChild(elementToMove);
    }
  }, 400)
