doctype html
main(class=`${color} ${mode} back`)
  |
  h1(class=`${clazz} {{Tags}}`)= `{{${front}}}`
  div.target {{target}}
  div= `{{${back}}}`
  h2!= grammar[1] || grammar[0]
  h1 {{nederlands}}
    span.speech {{speech}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  | {{#context}}
  div.context {{context}}
  | {{/context}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
