doctype html
main(class=`${color} ${mode} back`)
  .top
    |
    | {{#picture}}
    .picture {{picture}}
    | {{/picture}}
    .text
      h1(class=`${clazz} {{Tags}}`)= `{{${bmain}}}`
      | {{#target}}
      .target {{target}}
      | {{/target}}
  h2!= grammar[1] || grammar[0]
    span.speech {{speech}} {{context}}
  div= `{{${back}}}`
  h1 {{nederlands}}
  | {{#notes}}
  div= `{{${kanji}}} {{notes}}`
  | {{/notes}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
include radical.pug
