= notempty && `{{#${notempty}}}\n`
|
main(class=`${color} ${mode} front`)
  |
  h1(class=`${clazz} {{Tags}}`)= `{{${front}}}`
  div.target {{target}}
  h2!= grammar[0]
|
= notempty && `\n{{/${notempty}}}`
