doctype html
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      h1(class=`${clazz} {{Tags}}`)= `{{${bmain}}}`
      include _target
  h2!= grammar[1] || grammar[0]
    include _audio
  div= `{{${back}}}`
  h1 {{nederlands}}
  | {{#notes}}
  div= `{{${kanji}}} {{notes}}`
  | {{/notes}}
  include _strokes
  include _details
include _radical
